<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1Cte0PlnweBHU_va1GWFAF-OPpmSNPhM</string>
	<key>GCM_SENDER_ID</key>
	<string>446566732712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>chat-flutter-app-e0d15</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-flutter-app-e0d15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446566732712:ios:b2fc40aad60c49ee86839d</string>
</dict>
</plist>